{# View gerada automaticamente Via Scooby_CLI em 06-06-20 - 11:57:am #}
<script>
    let y = 0
</script>
<main>
    <nav id="menu">
        <div class="nav-wrapper black z-depth-3">
            <div class="container">
                <a class="brand-logo" href="{{ base_url }}dashboard"><i class="material-icons red-text"
                        style="font-size: 40pt !important;">change_history</i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons red-text text-lighten-1">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ base_url }}watch">Assistir</a></li>
                    <li><a href="{{ base_url }}watched">Assistidos</a></li>
                    <li><a href="{{ base_url }}exit" class="btn red darken-3" onclick="
                                                            localStorage.setItem('token', 0)
                                                            window.location.href='{{ base_url }}exit'
                                                        ">Logout</a></li>
                </ul>
                <a href="{{ base_url }}alter-user"><i class="material-icons red-text right"
                        style="font-size: 25pt; margin-right:20px">person_outline</i></a>
                <a href="javascript:window.history.back()"><i class="material-icons red-text right"
                        style="font-size: 25pt; margin-right:20px">arrow_back</i></a>
            </div>
        </div>
    </nav>

    <ul class="sidenav black" id="mobile-demo" style="z-index: 1000000 !important;">
        <span><i class="material-icons red-text"
                style="font-size: 80pt !important; margin: 20px 20px">change_history</i></span>
        <li><a href="{{ base_url }}watch" class="white-text">Assistir</a></li>
        <li><a href="{{ base_url }}watched" class="white-text">Assistidos</a></li>
        <li><a href="{{ base_url }}exit" class="btn red darken-3" onclick="
                                                localStorage.setItem('token', 0)
                                                window.location.href='{{ base_url }}exit'
                                            ">Logout</a></li>
    </ul>
    <div class="navbar-fixed" style="z-index: 100000 !important;">
        <nav>
            <div class="nav-wrapper grey darken-4 z-depth-0 search">
                <form action="{{ base_url }}search" method="get">
                    <div class="input-field">
                        <input id="search" type="search" name="name" placeholder=" Olá {{ name }} que filme deseja buscar ?"
                            required>
                        <label class="label-icon" for="search"><i class="material-icons left white-text">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <ul class="sidenav black" id="mobile-demo" style="z-index: 1000000 !important;">
        <span><i class="material-icons red-text"
                style="font-size: 80pt !important; margin: 20px 20px">change_history</i></span>
        <li><a href="src/pages/login.html" class=" white-text">Login</a></li>
        <li><a href="src/pages/register.html" class=" white-text">Cadastro</a></li>
    </ul>
    <br>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1 black">
        <li class="tab col s3"><a class="all" onclick="getAll()">Todos<span class="hide genre-id">'all'</span></a></li>
        <li class="tab col s3"><a class="acao" data-id="28" onclick="getGenre(28)">Ação<span
                    class="hide genre-id">28</span></a></li>
        <li class="tab col s3"><a class="aventura" data-id="28" onclick="getGenre(12)">Aventura<span
                    class="hide genre-id">28</span></a></li>
        <li class="tab col s3"><a class="animacao" onclick="getGenre(16)">Animação<span
                    class="hide genre-id">12</span></a></li>
        <li class="tab col s3"><a class="comedia" onclick="getGenre(35)">Comédia<span
                    class="hide genre-id">16</span></a></li>
        <li class="tab col s3"><a class="crime" onclick="getGenre(80)">Crime<span class="hide genre-id">35</span></a>
        </li>
        <li class="tab col s3"><a class="documentario" onclick="getGenre(99)">Documentário<span
                    class="hide genre-id">80</span></a></li>
        <li class="tab col s3"><a class="drama" onclick="getGenre(18)">Drama<span class="hide genre-id">99</span></a>
        </li>
        <li class="tab col s3"><a class="familia" onclick="getGenre(10751)">Família<span
                    class="hide genre-id">18</span></a></li>
        <li class="tab col s3"><a class="fantasia" onclick="getGenre(14)">Fantasia<span
                    class="hide genre-id">10751</span></a></li>
        <li class="tab col s3"><a class="historia" onclick="getGenre(36)">História<span
                    class="hide genre-id">14</span></a></li>
        <li class="tab col s3"><a class="terror" onclick="getGenre(27)">Terror<span class="hide genre-id">36</span></a>
        </li>
        <li class="tab col s3"><a class="musica" onclick="getGenre(10402)">Música<span
                    class="hide genre-id">27</span></a></li>
        <li class="tab col s3"><a class="misterio" onclick="getGenre(9684)">Mistério<span
                    class="hide genre-id">10402</span></a></li>
        <li class="tab col s3"><a class="romance" onclick="getGenre(10749)">Romance<span
                    class="hide genre-id">9648</span></a></li>
        <li class="tab col s3"><a class="ficcao" onclick="getGenre(878)">Ficção Científica<span
                    class="hide genre-id">10749</span></a></li>
        <li class="tab col s3"><a class="tv" onclick="getGenre(10770)">Cinema TV<span
                    class="hide genre-id">878</span></a></li>
        <li class="tab col s3"><a class="thriller" onclick="getGenre(53)">Thriller<span
                    class="hide genre-id">10770</span></a></li>
        <li class="tab col s3"><a class="guerra" onclick="getGenre(10752)">Guerra<span
                    class="hide genre-id">53</span></a></li>
        <li class="tab col s3"><a class="faroeste" onclick="getGenre(37)">Faroeste<span
                    class="hide genre-id">10752</span></a></li>
    </ul>
    <br>

    <div class="back-img">
        <div class="row img">
        </div>
        <br><br><br>
    </div>
    </div>
</main>
<footer>

</footer>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="src/js/app.js"></script>
<script>
    $('document').ready(() => {
        $('.img').html('')
        $.ajax({
            url: 'http://meuteste.com.br/dashboard/recomendation',
            method: 'GET',
            success: (data) => {
                console.log(data.recomendations)
                for (var i = 0; i < 20; i++) {
                    if (data.recomendations[i]['backdrop_path'] != null && data.recomendations[i]['poster_path'] != null && data.recomendations[i]['overview'] != '') {
                        let newDate = data.recomendations[i]['release_date'].split('-')
                        let date = newDate[2] + '/' + newDate[1] + '/' + newDate[0]
                        let id_card = data.recomendations[i]['id']
                        $('.img').append('<li div class= "col s12 m12 l6" ><div class="card card-id-' + data.recomendations[i]['id'] + '"><div class="card-image"><img src="https://image.tmdb.org/t/p/original/' + data.recomendations[i]['backdrop_path'] + '" class="img-cover"><img src="https://image.tmdb.org/t/p/w200/' + data.recomendations[i]['poster_path'] + '" class="poster-img"><span class="card-title white-text"><strong>' + data.recomendations[i]['title'] + '</strong></span></div><div class="card-content card-content-id-' + id_card + '"><p> <div class="genres red-text text-lighten-1"><strong>' + data.recomendations[i]['genre_ids'] + '</strong></div><br><span class="grey-text text-lighten-3">Titulo original - <strong>' + data.recomendations[i]['original_title'] + '</strong><br><span class="white-text">Ano de lançamento <strong>' + date + '</strong><br>País de origem - <strong>' + data.recomendations[i]['original_language'] + '</strong><br>Votos coletados - <strong>' + data.recomendations[i]['vote_count'] + '</strong><br>Nota TMDB - <strong>' + data.recomendations[i]['vote_average'] + '</strong> | Popularidade - <strong>' + data.recomendations[i]['popularity'] + '</p><a href="http://meuteste.com.br/loged-film/' + data.recomendations[i]['id'] + '" class="filmDetail yellow-text text-darken-3">Veja Mais sobre este filme...</a><br><br><a href="http://meuteste.com.br/save/' + data.recomendations[i]['id'] + '" class="filmDetail btn blue white-text darken-1">Assistir mais tarde</a></div></div></li>')
                        $('.card-content-id-' + id_card).css('background', 'rgba(0,0,0,.85)')
                        $('.card-content-id-' + id_card).css('position', 'absolute')
                        $('.card-content-id-' + id_card).css('z-index', '1000')
                        $('.card-content-id-' + id_card).css('top', '0')
                        if (window.innerWidth > 960) {
                            $('.card-content-id-' + id_card).css('height', '60vh')
                            $('.card-content-id-' + id_card).css('margin-left', '-11px')
                            $('.card-content-id-' + id_card).css('width', 'calc(50vw + 1px)')
                        } else {
                            $('.card-content-id-' + id_card).css('height', '105%')
                            $('.card-content-id-' + id_card).css('margin-left', '-11px')
                            $('.card-content-id-' + id_card).css('width', '100vw')
                        }
                        $('.card-content-id-' + id_card).css('border-radius', '0 !important')
                        $('.card-content-id-' + id_card).css('color', 'white !important')
                        $('.card-content-id-' + id_card).css('transition', '.5s')
                        $('.card-content-id-' + id_card).css('display', 'none')
                        $('.card-action-id-' + id_card).css('display', 'none')
                        $('.card-action-id-' + id_card).css('margin-top', '-40px')
                        $('.card-id-' + data.recomendations[i]['id']).hover(() => {
                            $('.card-content-id-' + id_card).css('display', 'block')
                            $('.card-content-id-' + id_card).css('transition', '.5s')
                        }, () => {
                            $('.card-content-id-' + id_card).css('display', 'none')
                            $('.card-content-id-' + id_card).css('transition', '.5s')
                        })

                    }
                }
            },
            error: (data) => {
                console.log('error')
            }
        })
        $(window).scroll(function () {
            setTimeout(() => {
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 30 && y == 0) {
                    $.ajax({
                        url: 'http://meuteste.com.br/dashboard/recomendation',
                        method: 'GET',
                        success: (data) => {
                            for (var i = 0; i < 20; i++) {
                                if (data.recomendations[i]['backdrop_path'] != null && data.recomendations[i]['poster_path'] != null && data.recomendations[i]['overview'] != '') {
                                    let newDate = data.recomendations[i]['release_date'].split('-')
                                    let date = newDate[2] + '/' + newDate[1] + '/' + newDate[0]
                                    let id_card = data.recomendations[i]['id']
                                    $('.img').append('<li div class= "col s12 m12 l6" ><div class="card card-id-' + data.recomendations[i]['id'] + '"><div class="card-image"><img src="https://image.tmdb.org/t/p/original/' + data.recomendations[i]['backdrop_path'] + '" class="img-cover"><img src="https://image.tmdb.org/t/p/w200/' + data.recomendations[i]['poster_path'] + '" class="poster-img"><span class="card-title white-text"><strong>' + data.recomendations[i]['title'] + '</strong></span></div><div class="card-content card-content-id-' + id_card + '"><p> <div class="genres red-text text-lighten-1"><strong>' + data.recomendations[i]['genre_ids'] + '</strong></div><br><span class="grey-text text-lighten-3">Titulo original - <strong>' + data.recomendations[i]['original_title'] + '</strong><br><span class="white-text">Ano de lançamento <strong>' + date + '</strong><br>País de origem - <strong>' + data.recomendations[i]['original_language'] + '</strong><br>Votos coletados - <strong>' + data.recomendations[i]['vote_count'] + '</strong><br>Nota TMDB - <strong>' + data.recomendations[i]['vote_average'] + '</strong> | Popularidade - <strong>' + data.recomendations[i]['popularity'] + '</p><a href="http://meuteste.com.br/loged-film/' + data.recomendations[i]['id'] + '" class="filmDetail yellow-text text-darken-3">Veja Mais sobre este filme...</a><br><br><a href="http://meuteste.com.br/save/' + data.recomendations[i]['id'] + '" class="filmDetail btn blue white-text darken-1">Assistir mais tarde</a></div></div></li>')
                                    $('.card-content-id-' + id_card).css('background', 'rgba(0,0,0,.85)')
                                    $('.card-content-id-' + id_card).css('position', 'absolute')
                                    $('.card-content-id-' + id_card).css('top', '0')
                                    $('.card-content-id-' + id_card).css('z-index', '1000')
                                    if (window.innerWidth > 960) {
                                        $('.card-content-id-' + id_card).css('height', '60vh')
                                        $('.card-content-id-' + id_card).css('margin-left', '-11px')
                                        $('.card-content-id-' + id_card).css('width', 'calc(50vw + 1px)')
                                    } else {
                                        $('.card-content-id-' + id_card).css('height', '105%')
                                        $('.card-content-id-' + id_card).css('margin-left', '-11px')
                                        $('.card-content-id-' + id_card).css('width', '100vw')
                                    }
                                    $('.card-content-id-' + id_card).css('border-radius', '0 !important')
                                    $('.card-content-id-' + id_card).css('color', 'white !important')
                                    $('.card-content-id-' + id_card).css('display', 'none')
                                    $('.card-action-id-' + id_card).css('display', 'none')
                                    $('.card-action-id-' + id_card).css('margin-top', '-40px')
                                    $('.card-id-' + data.recomendations[i]['id']).hover(() => {
                                        $('.card-content-id-' + id_card).css('display', 'block')
                                    }, () => {
                                        $('.card-content-id-' + id_card).css('display', 'none')
                                    })

                                }
                            }
                        },
                        error: (data) => {
                            console.log('error')
                        }
                    })
                } else {
                    return false
                }
            }, 0)
        });
    })

    function getGenre(id) {
        var t = id
        $('.img').html('')
        y = 1
        $.ajax({
            url: 'http://meuteste.com.br/dashboard/genre/' + id,
            method: 'GET',
            success: (data) => {

                for (var i = 0; i < 20; i++) {
                    if (data.recomendations[i]['backdrop_path'] != null && data.recomendations[i]['poster_path'] != null && data.recomendations[i]['overview'] != '') {
                        let newDate = data.recomendations[i]['release_date'].split('-')
                        let date = newDate[2] + '/' + newDate[1] + '/' + newDate[0]
                        let id_card = data.recomendations[i]['id']
                        $('.img').append('<li div class= "col s12 m12 l6" ><div class="card card-id-' + data.recomendations[i]['id'] + '"><div class="card-image"><img src="https://image.tmdb.org/t/p/original/' + data.recomendations[i]['backdrop_path'] + '" class="img-cover"><img src="https://image.tmdb.org/t/p/w200/' + data.recomendations[i]['poster_path'] + '" class="poster-img"><span class="card-title white-text"><strong>' + data.recomendations[i]['title'] + '</strong></span></div><div class="card-content card-content-id-' + id_card + '"><p> <div class="genres red-text text-lighten-1"><strong>' + data.recomendations[i]['genre_ids'] + '</strong></div><br><span class="grey-text text-lighten-3">Titulo original - <strong>' + data.recomendations[i]['original_title'] + '</strong><br><span class="white-text">Ano de lançamento <strong>' + date + '</strong><br>País de origem - <strong>' + data.recomendations[i]['original_language'] + '</strong><br>Votos coletados - <strong>' + data.recomendations[i]['vote_count'] + '</strong><br>Nota TMDB - <strong>' + data.recomendations[i]['vote_average'] + '</strong> | Popularidade - <strong>' + data.recomendations[i]['popularity'] + '</p><a href="http://meuteste.com.br/loged-film/' + data.recomendations[i]['id'] + '" class="filmDetail yellow-text text-darken-3">Veja Mais sobre este filme...</a><br><br><a href="http://meuteste.com.br/save/' + data.recomendations[i]['id'] + '" class="filmDetail btn blue white-text darken-1">Assistir mais tarde</a></div></div></li>')
                        $('.card-content-id-' + id_card).css('background', 'rgba(0,0,0,.85)')
                        $('.card-content-id-' + id_card).css('position', 'absolute')
                        $('.card-content-id-' + id_card).css('top', '0')
                        $('.card-content-id-' + id_card).css('z-index', '1000')
                        if (window.innerWidth > 960) {
                            $('.card-content-id-' + id_card).css('height', '60vh')
                            $('.card-content-id-' + id_card).css('margin-left', '-11px')
                            $('.card-content-id-' + id_card).css('width', 'calc(50vw + 1px)')
                        } else {
                            $('.card-content-id-' + id_card).css('height', '105%')
                            $('.card-content-id-' + id_card).css('margin-left', '-11px')
                            $('.card-content-id-' + id_card).css('width', '100vw')
                        }
                        $('.card-content-id-' + id_card).css('border-radius', '0 !important')
                        $('.card-content-id-' + id_card).css('color', 'white !important')
                        $('.card-content-id-' + id_card).css('transition', '.5s')
                        $('.card-content-id-' + id_card).css('display', 'none')
                        $('.card-action-id-' + id_card).css('display', 'none')
                        $('.card-action-id-' + id_card).css('margin-top', '-40px')
                        $('.card-id-' + data.recomendations[i]['id']).hover(() => {
                            $('.card-content-id-' + id_card).css('display', 'block')
                            $('.card-content-id-' + id_card).css('transition', '.5s')
                        }, () => {
                            $('.card-content-id-' + id_card).css('display', 'none')
                            $('.card-content-id-' + id_card).css('transition', '.5s')
                        })

                    }
                }
            },
            error: (data) => {
                console.log('error')
            }
        })
        $(window).scroll(function () {
            setTimeout(() => {
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 30 && y == 1) {
                    $.ajax({
                        url: 'http://meuteste.com.br/dashboard/genre/' + id,
                        method: 'GET',
                        success: (data) => {
                            for (var i = 0; i < 20; i++) {
                                if (data.recomendations[i]['backdrop_path'] != null && data.recomendations[i]['poster_path'] != null && data.recomendations[i]['overview'] != '') {
                                    let newDate = data.recomendations[i]['release_date'].split('-')
                                    let date = newDate[2] + '/' + newDate[1] + '/' + newDate[0]
                                    let id_card = data.recomendations[i]['id']
                                    $('.img').append('<li div class= "col s12 m12 l6" ><div class="card card-id-' + data.recomendations[i]['id'] + '"><div class="card-image"><img src="https://image.tmdb.org/t/p/original/' + data.recomendations[i]['backdrop_path'] + '" class="img-cover"><img src="https://image.tmdb.org/t/p/w200/' + data.recomendations[i]['poster_path'] + '" class="poster-img"><span class="card-title white-text"><strong>' + data.recomendations[i]['title'] + '</strong></span></div><div class="card-content card-content-id-' + id_card + '"><p> <div class="genres red-text text-lighten-1"><strong>' + data.recomendations[i]['genre_ids'] + '</strong></div><br><span class="grey-text text-lighten-3">Titulo original - <strong>' + data.recomendations[i]['original_title'] + '</strong><br><span class="white-text">Ano de lançamento <strong>' + date + '</strong><br>País de origem - <strong>' + data.recomendations[i]['original_language'] + '</strong><br>Votos coletados - <strong>' + data.recomendations[i]['vote_count'] + '</strong><br>Nota TMDB - <strong>' + data.recomendations[i]['vote_average'] + '</strong> | Popularidade - <strong>' + data.recomendations[i]['popularity'] + '</p><a href="http://meuteste.com.br/loged-film/' + data.recomendations[i]['id'] + '" class="filmDetail yellow-text text-darken-3">Veja Mais sobre este filme...</a><br><br><a href="http://meuteste.com.br/save/' + data.recomendations[i]['id'] + '" class="filmDetail btn blue white-text darken-1">Assistir mais tarde</a></div></div></li>')
                                    $('.card-content-id-' + id_card).css('background', 'rgba(0,0,0,.85)')
                                    $('.card-content-id-' + id_card).css('position', 'absolute')
                                    $('.card-content-id-' + id_card).css('top', '0')
                                    $('.card-content-id-' + id_card).css('z-index', '1000')
                                    if (window.innerWidth > 960) {
                                        $('.card-content-id-' + id_card).css('height', '60vh')
                                        $('.card-content-id-' + id_card).css('margin-left', '-11px')
                                        $('.card-content-id-' + id_card).css('width', 'calc(50vw + 1px)')
                                    } else {
                                        $('.card-content-id-' + id_card).css('height', '105%')
                                        $('.card-content-id-' + id_card).css('margin-left', '-11px')
                                        $('.card-content-id-' + id_card).css('width', '100vw')
                                    }
                                    $('.card-content-id-' + id_card).css('border-radius', '0 !important')
                                    $('.card-content-id-' + id_card).css('color', 'white !important')
                                    $('.card-content-id-' + id_card).css('display', 'none')
                                    $('.card-action-id-' + id_card).css('display', 'none')
                                    $('.card-action-id-' + id_card).css('margin-top', '-40px')
                                    $('.card-id-' + data.recomendations[i]['id']).hover(() => {
                                        $('.card-content-id-' + id_card).css('display', 'block')
                                    }, () => {
                                        $('.card-content-id-' + id_card).css('display', 'none')
                                    })

                                }
                            }
                        },
                        error: (data) => {
                            console.log('error')
                        }
                    })
                } else {
                    return false
                }
            }, 0)
        });
    }
    function getAll() {
        $('.img').html('')
        window.location.reload()
    }
</script>