{# View gerada automaticamente Via Scooby_CLI em 06-06-20 - 11:57:am #}
<div class="bg-login">
    <div class="container-fluid">
        {% if msg %}
        {{ msg|raw }}
        {% endif %}
        <nav id="menu">
            <div class="nav-wrapper black z-depth-3">
                <div class="container">
                    <a class="brand-logo" href="{{ base_url }}"><i class="material-icons red-text"
                            style="font-size: 40pt !important;">change_history</i></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                            class="material-icons red-text">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ base_url }}login">Login</a></li>
                    </ul>
                    <a href="javascript:window.history.back()"><i class="material-icons red-text right"
                            style="font-size: 25pt; margin-right:20px">arrow_back</i></a>
                </div>
            </div>
        </nav>
        <ul class="sidenav black" id="mobile-demo" style="z-index: 1000000 !important;">
            <span><i class="material-icons red-text"
                    style="font-size: 80pt !important; margin: 20px 20px">change_history</i></span>
            <li><a href="{{ base_url }}login" class=" white-text">Login</a></li>
        </ul>
        <div class="row" style="margin-top: 15% !important;">
            <h2 class="center red-text">Recuperação de senha</h2><br>
            <div class="col s12 m8 offset-m2">
                <form class="login-form  z-depth-5" method="post" action="{{ base_url }}password-rescue">
                        <input type="hidden" name="csrfToken" value="{{ csrfToken }}">

                            <div class="input-field">
                                <input class="validate" id="email" type="email" name="email">
                                <label for="email">Digite seu email cadastrado em nosso sistema</label>

                        </div>

                            <div class="center-align">
                                <button class="btn right transparent" type="submit" name="action">
                                    <i class="material-icons right red-text" style="font-size: 40pt;">arrow_forward</i>
                                </button>
                            </div>

                </form>
            </div>
        </div>
    </div>
</div>