{# View gerada automaticamente Via Scooby_CLI em 06-06-20 - 11:57:am #}
<div class="container-fluid">
    {% if msg %}
    {{ msg|raw }}
    {% endif %}
    <nav id="menu">
        <div class="nav-wrapper black z-depth-3">
            <div class="container">
                <a class="brand-logo" href="{{ base_url }}dashboard"><i class="material-icons red-text"
                        style="font-size: 40pt !important;">change_history</i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons red-text text-lighten-1">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ base_url }}watch">Assistir</a></li>
                    <li><a href="{{ base_url }}watched">Assistidos</a></li>
                    <li><a href="{{ base_url }}dashboard" class="red-text">DASHBOARD</a></li>
                    <li><a href="{{ base_url }}exit" class="btn red darken-3" onclick="
                                                            localStorage.setItem('token', 0)
                                                            window.location.href='{{ base_url }}exit'
                                                        ">Logout</a></li>
                </ul>
                <a href="{{ base_url }}alter-user"><i class="material-icons red-text right"
                        style="font-size: 25pt; margin-right:20px">person_outline</i></a>
                <a href="javascript:window.history.back()"><i class="material-icons red-text right"
                        style="font-size: 25pt; margin-right:20px">arrow_back</i></a>
            </div>
        </div>
    </nav>

    <ul class="sidenav black" id="mobile-demo" style="z-index: 1000000 !important;">
        <span><i class="material-icons red-text"
                style="font-size: 80pt !important; margin: 20px 20px">change_history</i></span>
        <li><a href="{{ base_url }}watch" class="white-text">Assistir</a></li>
        <li><a href="{{ base_url }}watched" class="white-text">Assistidos</a></li>
        <li><a href="{{ base_url }}dashboard" class="red-text">DASHBOARD</a></li>
        <li><a href="{{ base_url }}exit" class="btn red darken-3" onclick="
                                                localStorage.setItem('token', 0)
                                                window.location.href='{{ base_url }}exit'
                                            ">Logout</a></li>
    </ul>
    <div class="login">
        <h2 class="center red-text">Alterar Usuário</h2>
        <div class="container">
            <div class="row">
                <form action="{{ base_url }}update-user" method="POST" class="col s12" id="register-form">
                    <div class="row">
                        {{ method_put|raw }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix red-text">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate white-text" name="name"
                                value="{{ name }}">
                            <label for="icon_prefix">Nome</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix red-text">mail</i>
                            <input id="icon_prefix" type="email" class="validate white-text" name="email"
                                value="{{ email }}">
                            <label for="icon_prefix">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix red-text">lock_outline</i>
                            <input id="icon_telephone" type="password" class="validate white-text" name="pass">
                            <label for="icon_telephone">Novo Password</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <p>
                            <label>
                                {% if adult == 1 %}
                                    <input type="checkbox" class="red" name="adult" checked />
                                {% else %}
                                    <input type="checkbox" class="red" name="adult" />
                                {% endif %}
                                <span class="left-align">Exibir conteúdo adulto ?</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6 white-text">
                        <div class="input-field white-text ">
                            <select name="deep">
                                {% if deep == '20' %}
                                    <option value="20" class="red-text" selected>Rasa</option>
                                    <option value="100" class="red-text">Média</option>
                                    <option value="500" class="red-text">Profunda</option>
                                    <option value="1000" class="red-text">Extrema</option>
                                {% elseif deep == '100' %}
                                    <option value="20" class="red-text">Rasa</option>
                                    <option value="100" class="red-text" selected>Média</option>
                                    <option value="500" class="red-text">Profunda</option>
                                    <option value="1000" class="red-text">Extrema</option>
                                {% elseif deep == '500' %}
                                    <option value="20" class="red-text">Rasa</option>
                                    <option value="100" class="red-text">Média</option>
                                    <option value="500" class="red-text" selected>Profunda</option>
                                    <option value="1000" class="red-text">Extrema</option>
                                {% elseif deep == '1000' %}
                                    <option value="20" class="red-text">Rasa</option>
                                    <option value="100" class="red-text">Média</option>
                                    <option value="500" class="red-text">Profunda</option>
                                    <option value="1000" class="red-text" selected>Extrema</option>
                                {% endif %}

                            </select>
                            <label>Profundidade da Busca</label>
                        </div>
                        <br>
                    </div>
                    <button class="btn right transparent" type="submit" name="action">
                        <i class="material-icons right red-text" style="font-size: 40pt;">arrow_forward</i>
                    </button>
                </form>
            </div>
        </div>
        <br><br><br>
    </div>
</div>